{:description "A template for creating a Clojure library"
 :vars [{:key :username
         :prompt "GitHub username"
         :type :string
         :validate {:pattern "^.+$" :msg "Username cannot be empty"}}]
 :computed {:name "io.github.{{ username }}/{{ project-name }}"
            :developer "{{ username | capitalize }}"}
 :raw [".github/**"]}
