{:data-fn lib.template/data-fn
 :template-fn lib.template/template-fn
 ; TODO: Run formatter afterwards
 ;:post-process-fn lite/post-process-fn
 :transform
 [["src" "src/{{main/file}}"]
  ["test" "test/{{main/file}}"]]}
